/* GENERAL */
body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 82px;
}

/* HEADER */
.header__logo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.header__barreDeRecherche {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__barreDeRecherche input {
    background-color: #E7E7E7;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    opacity: 25%;

}

.header__barreDeRecherche__loupe {
    position: absolute;
    border: none;
    background: transparent;
    margin-left: 1200px;
    margin-top: 32px;
}

.header__barreDeRecherche__loupe:hover {
    cursor: pointer;
}

.header__barreDeRecherche__loupe i {
    font-size: 200%;
}

.header__MotRecherche__bouton {
    width: 107px;
    height: 37px;
    background-color: #3282F7;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.header__MotRecherche__bouton i {
    font-size: large;
}

.header__boutonsFiltres {
    display: flex;
    margin-top: 20px;
}

.header__boutonsFiltres button {
    width: 170px;
    height: 69px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__boutonsFiltres button:hover {
    cursor: pointer;
}

.header__boutonsFiltres__ingredients {
    background-color: #3282F7;
}

.header__boutonsFiltres__ingredients__dropDown {
    width: 667px;
    height: 397px;
    border: none;
    border-radius: 5px;
    background-color: #3282F7;
    color: #fff;
    padding: 22px 19px;
    margin-right: 20px;
}

.header__boutonsFiltres__dropDown__input__icon {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
}

.header__boutonsFiltres__dropDown__input__icon input {
    width: 95%;
    font-size: 18px;
    font-weight: 700;
    background-color: #3282F7;
    border: none;
    color: #fff;
}

.header__boutonsFiltres__dropDown__input__icon input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header__boutonsFiltres__dropDown__input__icon input::placeholder { 
    color: #fff;
    opacity: 0.5;
}

.header__boutonsFiltres__dropDown__liste {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    font-size: 18px;
    font-weight: 400;
}

.header__boutonsFiltres__dropDown__liste p {
    margin: 7px 0px;
}

.header__boutonsFiltres__appareils {
    background-color: #68D9A4;
}

.header__boutonsFiltres__appareils__dropDown {
    width: 667px;
    height: 397px;
    border: none;
    border-radius: 5px;
    background-color: #68D9A4;
    color: #fff;
    padding: 22px 19px;
    margin-right: 20px;
}

#inputAppareils {
    background-color: #68D9A4;
}

.header__boutonsFiltres__ustensiles {
    background-color: #ED6454;
}

.header__boutonsFiltres__ustensiles__dropDown {
    width: 667px;
    height: 397px;
    border: none;
    border-radius: 5px;
    background-color: #ED6454;
    color: #fff;
    padding: 22px 19px;
    margin-right: 20px;
}

#inputUstensiles {
    background-color: #ED6454;
}

/* MAIN */
.main__diaporama {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 0px);
    justify-content: space-between;
    gap: 35px 0px;
}

.main__diaporama__miniature {
    margin-top: 20px;
    width: 380px;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.main__diaporama__miniature__photo {
    height: 178px;
    background-color: #C7BEBE;
}

.main__diaporama__miniature__textes {
    height: 146px;
    padding: 20px;
}

.main__diaporama__miniature__textes__titre__temps {
    display: flex;
    justify-content: space-between;
    height: 22px;
    margin-bottom: 25px;
}

.main__diaporama__miniature__textes__titre__temps i {
    font-size: 22px;
    height: 22px;
}

.main__diaporama__miniature__textes__titre {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__diaporama__miniature__textes__temps {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.main__diaporama__miniature__textes__corps {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.main__diaporama__miniature__textes__corps__gauche {
    margin: 0;
    list-style-type: none;
    padding-left: 0%;
}

.main__diaporama__miniature__textes__corps__droite {
    width: 171px;
    height: 109px;
    margin: 0;
    line-height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 9; /** numéro de ligne à montrer */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
